
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: green;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.logo{
    height: auto;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.navbar ul{
    display: flex;
    margin-right: 200px;
}

.navbar ul li a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.navbar a{
    color: wheat;
    padding: 10px;
    font-size: 20px;
}

.navBtn{
    padding: 12px 20px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.hero{
    display: flex;
    height: 100vh;
    background-image: url("images/american-football-field.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: center;
 
    
}

.hero-img img{
    height: 250px;
    margin-top: 50px;
    width: 30vw;
    height: 80vh;
    border-radius: 10px;
}

.hero-text{
  margin: 10px;
  text-align: left;
  margin-bottom: 10px;

}

.hero-text h2{
    font-size: 50px;
    margin-top: 40px;
    color: green;
    padding: 20px 20px;
}

.hero-text p{
    font-size: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
    color: white;
}

.btn{
   margin-left: 50px;


}

.contact{
    background-color: green;
    color: white;
}

table{
     border-spacing: 1;
     border-collapse: collapse;
     background-color: #fff;
     border-radius: 1opx;
     overflow: hidden;
     position: relative;
     width: 100%;
     margin: 0 auto;
}

table td, table tr{
    padding-left: 10px;

}

table thead tr{
    background-color:antiquewhite ;
    height: 50px;
}

table tbody tr{
    height: 50px;
}

tbody tr{
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover{
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer;
}


.content_text{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    
}
.content_text h1{
    font-size: 30px;
    padding: 10px 10px 20px 10px;
    color: #000000;
    

}

/* .content_text p{
    font-size: 28px;
    font-family: "Lato", sans-serif;
    color: #000000;
} */

.content_box{
    background-color: #fff;
    display: flex;
    justify-content: center;
   
}

.content_box1{
    display: block;
    background-color: #fff;
    border: 1px solid #000;
   width: 40%;
   height: 20%;
   text-align: center;
   padding: 5px 5px;
   margin: 5px;
   border-radius: 8px;
}
/* .content_box  .content_box1{
    background-color:#FFF;
    margin: 5px;
} */

.content_box1 .date{
    margin-top: 10px;
}
.content_box1 .flash{
    float: left;
}
.content_box1 .country{
    font-size: 12px;
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content_box1 .league{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    text-align: center;
}
 .content_box1 .tips{
    display: flex;
    justify-content: center;
    font-size: 15px;
} 
.content_box1 .b_tips{
    margin-top:  12px;
}
.content_box1 .club{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;

}
.content_box1 .team_1{
    margin-right: 25px;
}
.content_box1 .team_2{
    margin-left: 35px;
}
/* .content_box1{
    display: block;
    background-color: #fff;
    border: 1px solid #000;
   width: 40%;
   height: 20%;
   text-align: center;
   padding: 5px 5px;
}
.content_box  .content_box1{
    background-color:#FFF;
    margin: 5px;
} */
.content_result{
    background-color: rgb(243,244,246);
    text-align: center;
    height: 120px;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    padding: 20px 20px;

}
.content_result .predicts{
    font-size: 12px;
    margin-bottom: 10px;
    font-family: "Lato";
}
.content_result .result{
    font-size: 15px;
    margin-bottom: 1px;
    font-family: "Lato";
}
.content_result .det{
    margin-bottom: 20px;
    font-size: 10px;
    text-decoration: underline;
}


.bttn{
    /* justify-content: space-between; */
    /* padding: 12px 20px; */
    padding: 5px 10px;
    color: white;
    background-color: rgb(255,169,0);
    border-radius: 30px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.x_bet img{
    width: 50px;
    /* height: 20px; */
    margin-right: 10px;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}

footer{
    background-color: green;
   
}

.footer_logo{
    display: flex;
    gap: 10rem;
    justify-content: center;
}

.logoFooter{
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    text-align: left;
}

 .first-info {
    /* width: 200px; */
    height: auto;
    margin-top: 40px;
    padding-top: 20px;

}

.footer_content h4{
    letter-spacing: 2px;
    text-decoration: underline;
    
} 

.footer_content p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.second-info {
    height: auto;
    margin-top: 40px;
    padding-top: 20px;
}

.third-info{
     height: auto;
     margin-top: 40px;
     padding-top: 20px;
    
}

.fourth-info {
    height: auto;
    margin-top: 40px;
    padding-top: 20px;
}

.about-text {
background-color: green;

  
}

.about-text a {
    letter-spacing: 2px;
    text-decoration: underline;
    display: block;
    color: #000;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    height: 30px;
    text-align: none;
}

.about-text p{
    text-align: center;
    padding-top: 10px;
    
    font-size: 20px;
    
}


.g-responsibly{
    text-align: center;
    color: red;
    /* font-size: 20px; */
    padding-top: 10px;
    font-weight: bolder;

}

.g-responsibly img{
    padding-top: 10px;
    max-width: 100%;
}